.test-card-container {
    @apply border-mint bg-mint;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--border-radius);
    padding-inline-start: var(--body-padding-x);
    margin-bottom: 8px;
}
:nth-last-child(1 of .test-card-container) {
    margin-bottom: 0;
}

.test-card-content {
    padding: 8px;
    padding-inline-end: 16px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

html[dir="rtl"] {
    .test-card-content {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
}